4sem/
Lib/
Scripts/
Include/
share/
pyvenv.cfg

__pycache__/
*.pyc
*.pyo
*.log

.env
app/serviceAccountKey.json
node_modules/
.next/
dist/
build/

.env
app/.env
app/serviceAccountKey.json
__pycache__/
app/__pycache__/
app/routers/__pycache__/
*.pyc